<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Dochi!!!</title>
    <link href="src/Dochi.css" type="text/css" rel="stylesheet">
</head>

<body>
    <div id="App">
        <div class="dochi">
            <ul v-for="data in datas" :class=data.class_name>
                <li v-if="data.view">
                    <img :src="data.src">
                    <h1>
                        {{ data.name }}
                    </h1>
                    <h2>
                        {{ data.from }}
                    </h2>
                    <button v-if="data.lose" @click=eran(data.id) class="btn">選擇</button>
                    <button @click=animation_end() class="animation_btn d_none">下一輪</button>
                </li>

            </ul>
        </div>

        <!-- <p class="test">---------------測試介面---------------</p>
        <div v-for="item in items" class="test">
            名稱：{{ item.name }}<br>
            勝敗：{{ item.lose }}<br>
            出場：{{ item.going }}<br><br>
        </div>
        <p class="test">---------------測試介面---------------</p> -->

        <div v-if="ui">
            <p class="test">---------------晉級名單---------------</p>
            <div v-for="winner in winners" class="test">
                名稱：{{ winner.name }}<br>
            </div>
            <p class="test">---------------晉級名單---------------</p>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue2-touch-events@3.2.2/index.min.js"></script>
    <script src="src/Dochi.js"></script>
</body>

</html>